

<!DOCTYPE html>
<html>
<head>
	<title> Live IDS Dashboard </title>
	<meta http-equiv="refresh" content="1800">
	<style>
		body{
			font-family:Arial, sans-serif;
			padding:20px;
			background-color: #1e1e1e;
			color:#fff;
		}

		h1 {
			color:#00ffcc;
		}
		.alert{
			padding: 10px;
			margin=bottom: 10px;
			background-color: #ff4444;
			border-left: 5px solid #ff0000;
		}
	</style>
</head>
<body>
	<h1> Intrusion Detection Alerts </h1>
	<div id ="alerts">
		Loading alerts ...
	</div>

	<script>
		async function loadAlerts() {
			try {
				const response = await fetch("/alerts");
				const data = await response.json();
				const alertDiv = document.getElementById("alerts");

				alertDiv.innerHTML = "";

				if (data.length === 0) {
					alertDiv.innerHTML = "No alerts yet.";
					return;
				}

				data.slice(-10).reverse().forEach(alert => {
					const div = document.createElement("div");
					div.className = "alert";

					const [timePart, messagePart] = alert.split("] ");
					const timeFormatted = `<span style="font-size: 0.9em; color: #cccccc;">[${timePart}]</span>`;
					const messageFormatted = `<strong style="font-size: 1.1em;">${messagePart}</strong>`;

					div.innerHTML = `${timeFormatted}<br>${messageFormatted}`;
					alertDiv.appendChild(div);
				});
			} catch(err) {
				console.error("Failed to fetch alerts:", err);
				document.getElementbyId("alerts").textContent = "Error loading alerts.";
			}
		}

		loadAlerts();
		setInterval(loadAlerts, 5000);
	</script>
</body>
</html>

